body{
    background-color: lightgreen;
}
h1{
    text-align: center;
    font-style: oblique;
}

.textview{
    text-align: center;
    padding: 30px 100px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    color: blue;
    font-size: medium;
}
table, th, td{
    text-align: center;
    font-size: large;
    color:blue;
    border:solid black;
    border-radius: 10px;
    background-color: aquamarine;
    padding: 15px;

}    
}
th{
    background-color: aliceblue;
}
.btn {
    border: none;
    background-color: inherit;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }